@{
    ViewData["Title"] = "Try Finanz";
}

<div class="text-center">
    <h1 class="display-4">Finanz</h1>
    <p>A dead simple budgeting app written in .NET. Does everything you need it to and nothing you dont. We don't track you or monitor your usage. If you're looking for shiny advertising. Try one of our competitors.</p>
    <div class="container">
        <main role="main" class="pb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                        </th>
                        <th scope="col">
                            Pros
                        </th>
                        <th scope="col">
                            Cons
                        </th>
                        <th scope="col">
                            Recommmendation
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <a href="https://mint.intuit.com">Credit Karma (Mint)</a>
                        </th>
                        <td>
                            Tax integrations
                        </td>
                        <td>
                            Mint was the reason we created Finanz.  Intuit <a href="https://www.opensecrets.org/news/2024/02/turbotax-maker-intuit-spent-millions-in-record-lobbying-blitz-amid-threats-to-tax-prep-industry/">actively lobbies to make taxes harder</a> for you and I...
                        </td>
                        <td>
                            &#10060
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a href="https://www.monarchmoney.com/">Monarch Money: The modern way to manage your money</a>
                        </th>
                        <td>
                            Slick UI, Happy Customers, Mint transfer discount
                        </td>
                        <td>
                            Security is lacking, pricey
                        </td>
                        <td>
                            &#9989
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a href="https://www.ynab.com/">YNAB: You Need A Budget</a>
                        </th>
                        <td>
                            Good security, great support, Mint transfer discount, free trial
                        </td>
                        <td>
                            Opinionated budgeting technique lock-in
                        </td>
                        <td>
                            &#9989
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Finanz
                        </th>
                        <td>
                            No frills
                        </td>
                        <td>
                            No integrations or notifications, dead simple
                        </td>
                        <td>
                            &#9989
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
